<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>EPIC Earth</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/tiny_earth.png}">
</head>
<body>
    <div class="container">
        <h1>EPIC Earth</h1>
        <form action="#" th:action="@{/retrieve-images}" th:object="${dateForm}" method="post">
            <div class="form-group">
                <label for="date">Select Date:</label>
                <input type="date" id="date" name="date" th:field="*{date}" />
            </div>
            <button type="submit">Generate GIF</button>
        </form>
        <div class="thumbnails">
            <h2>Thumbnails</h2>
            <div class="thumbnail-grid">
                <div th:each="image : ${images}">
                    <img th:src="${image.url}" th:alt="${image.name}" class="thumbnail"/>
                </div>
            </div>
        </div>
    </div>
</body>
</html>