<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>EPIC Earth</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
</head>
<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <div class="container">
        <h1>EPIC Earth</h1>
        <form action="/image-gallery" method="get">
            <input type="date" name="date" required>
            <button type="submit">Show Images</button>
        </form>
        <form action="/gif" method="get" style="margin-top: 10px;">
            <input type="date" name="date" required>
            <button type="submit">Generate GIF</button>
        </form>
    </div>
</body>
</html>