<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>EPIC Earth</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
</head>
<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <div class="container">
        <h1>EPIC Earth</h1>
        <form action="#" th:action="@{/gif/{date}(date=${dateForm.date})}" th:object="${dateForm}" method="post">
            <div class="form-group">
                <label for="date">Select Date:</label>
                <input type="date" id="date" name="date" th:field="*{date}" />
            </div>
            <button type="submit">Generate GIF</button>
        </form>
    </div>
</body>
</html>